<app-navbar></app-navbar>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-5">
    <!-- Join Team Section -->
    <div class="bg-gray-100 p-6 rounded-lg shadow-md mb-6">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">Join a Team</h2>
        <form (submit)="joinTeam()">
            <div class="flex items-center space-x-4">
                <input type="text" name="teamCode" placeholder="Enter team code"
                    class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    required />
                <button type="submit"
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">
                    Join
                </button>
            </div>
        </form>
    </div>

    <!-- List of Teams Section -->
    <div>
        <h2 class="text-2xl font-bold mb-4 text-gray-800">Your Teams</h2>
        <ul class="space-y-4">
            <li *ngFor="let team of teams" class="p-4 bg-white rounded-lg shadow-md flex justify-between items-center">
                <span class="font-medium text-gray-700">{{ team.name }}</span>
                <div class="space-x-4">
                <a href="teams/1" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500"
                    (click)="leaveTeam(team.id)">
                    View
                </a>
                <a href="teams/2"
                    class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:ring-2 focus:ring-red-500"
                    (click)="leaveTeam(team.id)">
                    Leave
                </a>
                </div>
            </li>
        </ul>
    </div>
</div>