<app-navbar></app-navbar>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col bg-gray-400/5 p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">Total points this season</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">287</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">Position in leaderboard</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">45</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">Points this week</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">--</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">Teams</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">2</dd>
        </div>
    </dl>


    <h3 class="text-2xl mt-5">Todays questions</h3>
    <div>
        <h3 class="text-xl mt-4 underline">Easy</h3>
        <ul role="list" class="divide-y divide-gray-100">
            <li class="flex items-center justify-between gap-x-6 pb-5 pt-3">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                        class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                        Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <h3 class="text-xl mt-4 underline">Medium</h3>
        <ul role="list" class="divide-y divide-gray-100">
            <li class="flex items-center justify-between gap-x-6 pb-5 pt-3">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                        class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                        Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <h3 class="text-xl mt-4 underline">Hard</h3>
        <ul role="list" class="divide-y divide-gray-100">
            <li class="flex items-center justify-between gap-x-6 pb-5 pt-3">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                        class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                        Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
            <li class="flex items-center justify-between gap-x-6 py-5">
                <div class="min-w-0">
                    <div class="flex items-start gap-x-3">
                        <p class="text-sm/6 font-semibold text-gray-900">Who will win?</p>
                        <!-- <p
                                class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                Complete</p> -->
                    </div>
                    <div class="mt-1 flex items-center gap-x-2 text-xs/5 text-gray-500">
                        <p class="whitespace-nowrap">Manchester United v Chelsea</p>
                    </div>
                </div>
                <div class="flex flex-none items-center gap-x-4">
                    <a href="#"
                        class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Choose
                        prediction<span class="sr-only">, GraphQL API</span></a>
                </div>
            </li>
        </ul>
    </div>

</div>